<h2>User info</h2>
<% if @user.errors.any? %>
   <h3><%= @user.errors.count %> errors prohibited this object from being saved</h3>
   <p><% @user.errors.full_messages.each do |message| %></p>
   <%= message %>
   <% end %>
<% end %>
<%= form_with model:@user, local:true do |f| %>
  <p><label for="inputName">Name</label></p>
   <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"Enter Your name" %>
  <p><label for="inputintroduction">introduction</label></p>
   <%= f.text_area :introduction, autofocus: true, id:"inputintroduction", placeholder:"Enter Introduction" %>
  <p><label for="inputImage">Image</label></p>
  <%= f.attachment_field :profile_image, placeholder: "Profile image" %>
  <p><%= f.submit "Update Profile" %></p>
<% end %>