<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="container-fluid a">
           <%= link_to "Bookers", root_path, class: "navbar-brand" %>

            <ul class="navbar-nav navbar-right">
              <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'Home', user_path(current_user.id), class:"fas fa-home nav-link text-dark" %>
              </li>
              <li class="nav-item">
               <%= link_to "Users", users_path, class:"fas fa-users nav-link text-dark" %>
              </li>
               <li class="nav-item">
               <%= link_to "Books", books_path, class:"fas fa-book-open nav-link text-dark" %>
               </li>
              <li class="nav-item">
               <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"fas fa-sign-out-alt nav-link text-dark" %>
              </li>
            　<% else %>
               <li class="nav-item">
                 <%= link_to "Home", root_path, class:"fas fa-home nav-link text-dark" %>
                </li>
               <li class="nav-item">
                 <%= link_to "about", about_home_index_path, class:"fas fa-link nav-link text-dark" %>
               </li>
                <li class="nav-item">
                 <%= link_to "Sign UP", new_user_registration_path, class:"fas fa-user-plus nav-link text-dark" %>
                </li>
                <li class="nav-item">
                  <%= link_to "LogIn", new_user_session_path, class:"fas fa-sign-in-alt nav-link text-dark" %>
                </li>
      　　　　　　　<% end %>
  　　　　 　　　  </ul>
        </div>
  　   </nav>
  　</header>
  　<%= yield %>
  </body>
</html>

